bind-dynamic
interface={{interface}}

domain-needed

dhcp-range={{ dhcp_range }}
{% for dhcp_option in dhcp_options %}
dhcp-option={{ dhcp_option }}
{% endfor%}
domain={{domain}}
{% for address in addresses %}
address=/{{ address.name }}/{{ address.value }}
{% endfor%}
