interface={{interface}}
channel={{channel}}
wmm_enabled={{wmm_enabled}}
macaddr_acl={{macaddr_acl}}
auth_algs={{auth_algs}}
ignore_broadcast_ssid={{ignore_broadcast_ssid}}
wpa={{wpa}}
wpa_key_mgmt={{wpa_key_mgmt}}
wpa_pairwise={{wpa_pairwise}}
rsn_pairwise={{rsn_pairwise}}
ssid={{ssid}}
wpa_passphrase={{wpa_passphrase}}